body{
 background-color:lightpink;
 text-align: center;
}
h1 {
    font-style: italic;
    color:mistyrose;
}
h2 {
    color:azure (14, 229, 157);
    font-weight:200;    
}
h3 { 
    color:cornflowerblue;
    font-style: italic;
}