
body{
 background-color:lightpink;
 text-align: center;
}
h1 {
    font-style: italic;
    color:mistyrose;
    font-size: larger;
}
h2 {
    color:azure (14, 229, 157);
    font-weight:200;
};

.imagem {
    width: 30%;
}
.imagem2 {
 width: 20%;
}
.lista {
    text-align: left;
    color:lightblue;
}
.pizza {
    color:steelblue;
}